@import "tailwindcss";

@theme {
  --color-crema: #FAF6EF;
  --color-espuma: #F1E9DA;
  --color-ambar: #C8861B;
  --color-ambar-claro: #E0A33C;
  --color-ambar-oscuro: #9A6612;
  --color-tostado: #5C3A21;
  --color-malta: #33220F;
  --color-carbon: #1F1610;
  --color-linea: #E5DCCB;
}

body {
  background-color: var(--color-crema);
  color: var(--color-malta);
}