@import "tailwindcss";

@theme {
  --color-crema: #F7F0E4;
  --color-espuma: #EDE4D3;
  --color-ambar: #C8861B;
  --color-ambar-claro: #E0A33C;
  --color-ambar-oscuro: #9A6612;
  --color-tostado: #5C3A21;
  --color-malta: #33220F;
  --color-carbon: #1F1610;
  --color-linea: #DDD3C2;
  --color-navbar: #5C3A21;
}

body {
  background-color: var(--color-espuma);
  color: var(--color-malta);
}